
.a1{
    background-color:#0a0c1b;
    display: flex;
    justify-content: center;
    align-items: center;
padding-top: 150px;
    

}
.b3{
    display: flex;
}
.a2{
    background-color:#1c1938;
    height: 300px;
    width: 320px;
   padding-left: 20px;
   padding-right: 20px;
  
}
.co1 label{
    font-size:15px;
    font-weight: bold;

}
.co1 span{
    font-weight: bold;
}
p{
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
    font-size: 13px;
}
.f1{
   color: rgb(250, 250, 249);
   font-size: 15px;
   font-family: 'Rubik', sans-serif;
}
.f2{
    color:#9444b5;

}
.co1{
    color: white;
    font-size: 15px;
    padding-top: 15px;
    display: flex;
   justify-content: space-between;
    align-items:center ;
    text-align: center;
    }
  
#e1{
    font-size: 11px;
}
.imgs{
    height: 300px;
 width: 350px;
 background-image: url(./Image/image-header-mobile.jpg);
 
 background-color: #815a97;
 background-blend-mode: multiply;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
.f1 h2{
    font-size: 30px;

}
@media(max-width:600px){
    .b3{
        display: flex;
        flex-direction: column-reverse;
    }
    .imgs{
        height: 200px;
        width: 260px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

    }
    .a2{
        height: 550px;
        width: 220px;
        margin-bottom: 50px;
        text-align: center;
        padding-right: 20px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .co1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* padding-left:; */
    }
    .c2,.c3{
        padding-top: 25px;
    }

}

